:root {
    --orange: #F68220;
    --light: #F7F7F7;
}

@keyframes slide {
    100% {
        right: 0;
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* global */
body {
    text-align: right !important;
}

a:hover {
    text-decoration: none;
}

.section-light {
    background-color: var(--light);
}

/* start header section */
header ul a {
    padding: 10px;
    margin-left: 27px;
    color: black;
    font-size: 16px;
}

header ul .active {
    border-bottom: 1px solid var(--orange);
}

header {
    padding: 28px 0;
}

.sidebar {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
}

.sidebar-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    opacity: 65%;
    z-index: 20;
}

.sidebar-items {
    width: 255px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -255px;
    z-index: 21;
    background-color: white;
    animation: slide 0.5s forwards;
}

.sidebar-items li {
    padding: 10px;
    padding-right: 0;
}

.sidebar-items a {
    padding-right: 0;
}

/* end header section */
/* start slider section */
.slider-container {
    width: 100%;
    position: relative;
}

.slider-Slides {
    width: 100%;
    height: 100%;
    min-height: 460px;
    background-image: url("../assets/images/header/header_1600.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


@media (max-width:1200px) {
    .slider-Slides {
        min-height: 460px;
        background-image: url("../assets/images/header/header_1200.png");
    }
}

@media (max-width:992px) {
    .slider-Slides {
        min-height: 460px;
        background-image: url("../assets/images/header/header_992.png");
    }
}

@media (max-width:576px) {
    .slider-Slides {
        min-height: 764px;
        background-image: url("../assets/images/header/header_576.png");
    }
}

@media (max-width:360px) {
    .slider-Slides {
        min-height: 540px;
        background-image: url("../assets/images/header/header_360.png");
    }
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: var(--orange);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px 0 0 3px;
}

.next {
    right: auto;
    left: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.paginations {
    position: absolute;
    width: 29px;
    height: 40px;
    bottom: 19.5px;
    right: calc(50% - 29px);
    display: flex;
    justify-content: space-between;
}

.paginations-item {
    cursor: pointer;
    height: 100%;
    width: 3px;
    background-color: white;
    transition: background-color 0.6s ease;
}

.activeSlide, .paginations-item:hover {
    background-color: var(--orange);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

/* end slider section */
/* start section three */
.section-three_title {
    margin-bottom: 6px;
}

.section-three_image {
    width: 100%;
    min-height: 282px;
    background-image: url("../assets/images/architecture/architecture-1600.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.section-three_subtitle {
    color: var(--orange);
}

.architecture {
    margin-top: 30px;
}

@media (max-width:1200px) {
    .section-three_image {
        min-height: 225px;
        background-image: url("../assets/images/architecture/architecture-1200.png");
    }
}

@media (max-width:992px) {
    .section-three_image {
        min-height: 404px;
        background-image: url("../assets/images/architecture/architecture-992.png");
    }
}

@media (max-width:576px) {
    .section-three_image {
        min-height: 304px;
        background-image: url("../assets/images/architecture/architecture-576.png");
    }
}

@media (max-width:360px) {
    .section-three_image {
        min-height: 186px;
        background-image: url("../assets/images/architecture/architecture-360.png");
    }
}

/* end section three */
/* start video section */
.video{
    width: 100%;
    min-height: 408px;
    background-image: url("../assets/images/video/video-1600.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}
@media (max-width:1200px) {
    .video {
        background-image: url("../assets/images/video/video-1200.png");
    }
}

@media (max-width:992px) {
    .video {
        min-height: 364px;
        background-image: url("../assets/images/video/video-992.png");
    }
}

@media (max-width:576px) {
    .video {
        min-height: 340px;
        background-image: url("../assets/images/video/video-576.png");
    }
}

@media (max-width:360px) {
    .video {
        min-height: 340px;
        background-image: url("../assets/images/video/video-360.png");
    }
}
.video-cover{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    opacity: 75%;
    z-index: 2;
}
.video-caption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 100%;
}
/* end video section */
/* start products section */
.products_title{
    margin-bottom: 6px;
}
.products-image {
    width: 100%;
    min-height: 202px;
    background-image: url("../assets/images/products/product-1600.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-clip: content-box;
    padding-top: 30px;
    position: relative;
}
.products-image_cover{
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    position: absolute;
    top: 30px;
    right: 15px;
    background-color: #000;
    opacity: 75%;
    z-index: 2; 
    background-clip: content-box;
}
.products-image_caption{
    width: calc(100% - 30px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.products-image_btns{
    width: calc(100% - 30px);
    margin-right:6px;
}
.products-image_btn{
    margin: 5px;
    padding: 4px 50px;
    background-color:rgba(246, 130, 32, 0.6);
    cursor: pointer;
}
@media (max-width:1200px) {
    .products-image {
        min-height: 262px;
        background-image: url("../assets/images/products/product-1200.png");
    }
}

@media (max-width:992px) {
    .products-image {
        min-height: 194px;
        background-image: url("../assets/images/products/product-992.png");
    }
}

@media (max-width:576px) {
    .products-image {
        min-height: 304px;
        background-image: url("../assets/images/products/product-576.png");
    }
}

@media (max-width:360px) {
    .products-image {
        min-height: 186px;
        background-image: url("../assets/images/products/product-360.png");
    }
}
/* end products section */